<p>Add a new category:</p>

<form action="/categories" method="post">
  <label for="name">category</label>
  <input id="name" name="name" type="text">

  <button type="submit" class= "btn btn-success">Add category</button>
  </form>
